In [1]:
import pandas as pd

The previous input is as followsï¼š

In [2]:
import numpy as np
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

Create df with labels as index

In [3]:
df1 = pd.DataFrame(data, labels)

Show df basic information and its data

In [4]:
print(df1)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

Select only the 'animal' and 'age' columns

In [5]:
print(df1[['animal', 'age']])

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

Select the row with missing value,

In [6]:
sr1 = df1.isna().sum(axis = 1)

print(sr1[sr1 > 0].index)

Index(['d', 'h'], dtype='object')

Sort DF in descending age and ascending visit order

In [7]:
df1 = df1.sort_values(["age","visits"], ascending = [False, True])

print(df1)

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  2.0       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

In the 'animal' column, replace 'Snake' with 'Python'

In [8]:
df1["animal"] = df1["animal"].replace('snake', 'Python')

print(df1)

   animal  age  visits priority
i     dog  7.0       2       no
e     dog  5.0       2       no
g  Python  4.5       1       no
j     dog  3.0       1       no
b     cat  3.0       3      yes
a     cat  2.5       1      yes
f     cat  2.0       3       no
c  Python  0.5       2       no
h     cat  NaN       1      yes
d     dog  NaN       3      yes